html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; 
}

header {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background: black;
  background: linear-gradient(0deg, white, #663096);
}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#main-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

#header-content {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

#header-content h1, #header-content h2 {
  color: white;
  font-weight: 700;
}

#main-content h3 {
  color: #309666;
}

#main-content h2, #main-content h4 {
  color: #663096;  
}

 #main-content h4 {
  font-weight: 700;
}

#footer-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; 
  margin-bottom: 10px;
}
